body{
    font-family: Arial,sans-serif;
    margin: 0px;
}

main{
    margin: 11px;
}

header{
    background-color:coral;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    border-bottom: 5px ridge rgb(255, 4, 80);
}

#header-nav{
    background-color: coral;
}

nav ul{
    list-style-type: none; 
}

.menu li{
    display:inline;
}

nav{
    text-align: center;
    font-size: 1.5em;
    background-color: coral;
    padding-bottom: 10px;  
}

.spans{  
    padding-right: 35px;
    padding-left: 35px;
    display:inline-block;
}

.spans:hover{
        color:white;
}

.spans:active{
    background-color:red;
    color:black;
}

nav ul li a{
    color:black;
    text-decoration:none; 
}

a:link:not(#header-nav a) {
    color: coral;
}

  a:visited:not(#header-nav a) {
    color: red;
}

.form{
    margin-bottom: 13px;
}

input[type="submit"]{
    display: block;
    margin-left: auto;
    font-size: 1.2em;
    background-color: lightgreen;
    border-style: outset;
}

h3{
    text-decoration: underline;
}

iframe{
    display:block;
    margin-left: auto;
    margin-right:auto;
    border: 5px;
    border-style:double dashed;
    width:50%;
}

footer{
    background-color:coral;
    padding-top: 20px;
    padding-bottom: 10px;
}

