body{
    margin:0px;
}
.container{
    display: grid;
    grid-template-columns:0.3fr 1fr 0.1fr ;
}

@font-face {
    font-family: MyFonts;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vu_SeW4Ep0.woff2)
}

p,li{
    font-family: MyFonts;
}

h1,h2,h3,h4,h5,nav a,footer p{
    font-family: Arial,sans-serif;
}


header{
    background-color:yellow;
    grid-column: 1 / 4;
    grid-row: 1/ 2;
    padding-bottom:20px ;
}

footer{
    background-color: yellow;
    grid-column: 1 / 4;
    grid-row: 3/ 4;
    text-align: center;
    padding-bottom: 30px;
    font-size:1.1em;
}

nav{
    background-color:lightblue;
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: white;
}
 
main{
    background-color:white;
    margin-left: 8px;
    margin-right: 8px;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
}

aside{
    background-color:lightblue;
    grid-column: 3 / 4;
    grid-row: 2/ 3;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: white;
}

.menu a{
    text-decoration: none;
    color:black;
}

nav ul{
    list-style-type: none; 
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}
.menu li a {
    display: block;
    padding: 15px 9px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.2em ;
}

.menu li a:hover{
    background-color: lightslategrey;
    color:white
}

#python-icon {
    float:left;
}

h1{
    margin-left: 80px;
}

#hello{
    margin-top: 50px;
    margin-right: 15px
}

#creator{
    width:auto;
    margin-top:50px;
}
.orange{
    color:orange;
}

.purple{
    color:rgb(168, 89, 241);
}

.red{
    color:red;
}

.blue{
    color:rgb(2, 104, 138);
}
 
.green{
    color:green;
}

table{
    width:100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even){
    background-color: #dadada
}
  
th{
    background-color: #3a4197;
    color: white;
}

.data_strc{
    display: inline;
    color:white;
    background-color:rgb(2, 163, 163);
    padding: 1px 15px;
}

figure {
    padding: 5px;
    margin-bottom: 30px;
}

figcaption {
    background-color: #3a4197;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}