body{
    margin:0px;
}

header{
    background-color: yellow;
}

main{
    margin:8px;
}

.orange{
    color:orange;
}

.purple{
    color:rgb(168, 89, 241);
}

.red{
    color:red;
}

.blue{
    color:rgb(2, 104, 138);
}
 
