main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    background-color: #D0CEE2;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: rgb(153, 153, 153);
    color: white;
    text-align: center;
    width:20%;
    height: 80px;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 25px;
    margin-top: 5%;
}

button:hover{
    background-color: rgb(74, 74, 74);
}

.upper_section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#back{
    left: 0;
    margin-left: 25px;
    position: absolute;
}

#info{
    right: 0;
    margin-right: 25px;
    position: absolute;
}

i{
    font-size: 3.5em;
    color:rgb(74, 74, 74)
}

#popup{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 50%;
    height: 40%;
    background-color: #9b9aa2;
    border-radius: 10px;
    text-align: center;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5); 
}


#popup h2,#popup2 h2,#popup3 h2{
    font-size: 2em;
}

#info-text{
    text-align: start;
    margin-top: auto;
    margin-bottom:10% ;
    font-size: 1.6em;
}

#x-icon{
    margin-left: auto;
    margin-right: 18px;
    margin-top: 18px;
    font-size: 1.5em;
    color:black;
}

input{
    width: 40%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    display: block;
    font-size: 1.2em;
}

img{
    width:20em
}

#inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup2{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: rgb(252, 44, 44);
    border-radius: 10px;
    text-align: center;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5); 
}

#info-text2{
    margin-top: auto;
    margin-bottom:10% ;
    font-size: 1.3em;
}

#x-icon2{
    margin-left: auto;
    margin-right: 18px;
    margin-top: 18px;
    font-size: 1.5em;
    color:black;
}

#popup3{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 40%;
    height: 20%;
    background-color: rgb(3, 198, 3);
    border-radius: 10px;
    text-align: center;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5); 
}

#x-icon3{
    margin-left: auto;
    margin-right: 18px;
    margin-top: 18px;
    font-size: 1.5em;
    color:black;
}